@import '../utils/variables';

.ItNews{
}

.it-contents{
    overflow-x: scroll;
    overflow-y: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.ItNews ul{
    padding: 0;
}

.ItNews li{
    display: inline-block;
    white-space: nowrap;
    list-style-type: none;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 99%;
    height: 30px;
    line-height: 30px;
    font-size: 0.8rem;

    &:nth-child(2n-1){
        background-color: $component-content-Sub;
    }
}

.ItNews a{
    text-decoration: none;
    color: $font-basic;
}

.ItNews a:hover{
    color: $font-basic;
}

.it-subtitle{
}
