@import '../utils/variables';

.mapper-wrap{
    background-color: $component-content-Back;
    margin: 1em auto;
    padding: 1em;
    width: 95%;
    height: 90%;
    border: 1px solid rgb(220, 220, 220);
    border-bottom: 1.5px solid rgb(190,190,190);
    border-radius: 6px;
}

.mapper-maintxt{
    font-size: 3em;
}

.mapper-hr-grow{
    -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
    transition: width 1s  ease-out;
    width : 0%;
    margin-left: 0;
}

.mapper-hr-grow-go{
    width: 100%;
}

.mapper-content{
    color: $font-basic;
}

.mapper-content p{
    font-size: 1.5em;
    font-weight: bold;
    width: 80%;
    margin: 1em auto;
}

.mapper-content ul{
    margin: 1em 0 3em 0;
    padding-inline-start: 18em;
}

.mapper-content li{
    list-style-type: circle !important;
    margin: 10px;
    cursor: default;
    padding: 5px;
}