@import '../utils/variables';

.mapper-main{
    box-sizing: border-box;
    position: fixed;
    margin: 0; padding: 10px; 
    width: 60%;
    height: 80%;
    top: 5%;
    left: 20%;
    opacity: 0.99;
    border: 0;
    box-shadow: $component-content-boxShadow;
    border-radius: 6px;
    overflow: hidden;
    z-index: 10000;
    background-color: $component-main-Back;
}

.mapper-shy{
    opacity: 0.2;
}

.mapper-next, .mapper-prev{
    position: absolute;
    width: 50px;
    height: 100%;
    top: 20px;
    box-sizing: border-box;
}

.mapper-next{
    right: 0;
}
.mapper-prev{
    left: 0;
}

.mapper-prev-hidden, .mapper-next-hidden{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mapper-next-hidden-icon, .mapper-prev-hidden-icon{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50px;
    border-radius: 100px;
    background: rgba(0,0,0,0.15)
}

.mapper-next i, .mapper-prev i{
    font-size: 3em;
    color: $font-Dark;
    opacity: 0.5;
    cursor: pointer;
}